@media(max-width: 1200px){
    body{
        /* background-color: yellow; */
    }
    .buscador{
        width: 50%;  
        transition: all .3s ease;
    }
    .container{
        columns: 4;
        transition: all .3s ease;
    }    #footer{
        top: 120%
    }

 
}
@media(max-width: 800px){
    body{
        /* background-color: rgb(255, 115, 0); */
    }
    .titulo2, .titulo3{
        display: none;
        transition: all .3s ease;

    }
    .buscador{
        width: 60%;  
        transition: all .3s ease;

       
    }
    .container{
        columns: 3;
        transition: all .3s ease;
    }

    .iconoDesple{
        display: unset;
        transition: all .3s ease;

    }

    .titulo1{
        width: 100px !important;
         max-width: 100px !important;
         /* border: brown solid 1px; */
         margin-right: auto; 
         transition: all .3s ease;

     }
     #footer{
        top: 120%
    }
 

}

@media(max-width: 600px){
    body{
        /* background-color: rgb(255, 0, 0); */
     
    }
    .buscador{
        display: none; 
        transition: all .3s ease;
    }
    .container{
        columns: 2;
        transition: all .3s ease;
    }
    #footer{
        top: 100%
    }

  
}
@media(max-width: 550px){
    body{
        /* background-color: rgb(255, 0, 0); */
     
    }
    .buscador{
        display: unset; 
        transition: all .3s ease;
        width: 100%;
    }
    .container{
        columns: 2;
        transition: all .3s ease;
    }
    #footer{
        top: 100%
    }
    .titulo1{
        display: none; 
        transition: all .3s ease;
    }
    .icono.pint-sm{
        display: none; 
        transition: all .3s ease;
    }
    .icono.add{
        display: unset !important;
    }
    .contenedorbarrainf{
        display: unset;
    }
    .container{
        margin: 150px auto;
    }
  
}



/* @media (max-width: 2000px) {
    #footer{
        top: 120%
    }


    
} */